{% if template != 'article' and  template != 'article.dynamic' %}
  {% if shop.metafields.one_column_story.select_story != blank %}
  {% assign story_url = shop.metafields.one_column_story.select_story %}
  {% else %}
  {% assign story_url = "stories/following-dreams" %}
  {% endif %}

  {% assign article = articles[story_url] %}
{% endif %}

{% assign desktop_img = article.image | img_url: "master" %}
{% if article.metafields.cf_story.mobile_img %}
{% assign mobile_img = article.metafields.cf_story.mobile_img | file_img_url: '800x' %}
{% else %}
{% assign mobile_img = desktop_img %}
{% endif %}

{% if article.metafields.other_information.display_video == 1 %}
{% assign slide_type = "video" %}
{% else %}
{% assign slide_type = "one-image" %}
{% endif %}



<section class="vertical-scrolling {{section_number}}" data-section="{{slide_type}}" style="background-image: url('{{desktop_img}}'); background-size: cover; background-repeat: no-repeat; background-position: center center;" data-desktop-url="{{desktop_img}}" data-mobile-url="{{mobile_img}}">
  {% if article.metafields.other_information.display_video == 1 %}
    <div class="vimeo-wrapper" style="background-image: url('{{desktop_img}}'); background-position: center center;" data-desktop-url="{{desktop_img}}" data-mobile-url="{{mobile_img}}">
      {% if template != 'article' and  template != 'article.dynamic' %}
      	<div id="story_vimeo_video_id"></div>
      {% else %}
      	<div id="vimeo-video"></div>
      {% endif %}
    </div>
  {% endif %}
  <div class="container-fluid h-100">
    <div class="row min-vh-100">
      <div class="col-lg-12 pl-50" style="z-index: 1000;">
        <a href="{{ article.url }}" class="testbg">
          {% if template != 'article' and  template != 'article.dynamic' %}
            <table class="story_model_info text-white mt-8 d-none d-lg-block">
              <td>{{ article.metafields.story_model_info.model_name}}<br>
                {{ article.metafields.story_model_info.age}}<br>
                {{ article.metafields.story_model_info.city}}</td>
              <td>{{ article.metafields.story_model_info.style_name_and_number}}<br>
                {{ article.metafields.story_model_info.size_and_color_code}}<br>
                {{ article.metafields.story_model_info.Material}}</td>
            </tr>
            </table>
          {% endif %}
          <p class="slide_title_bottom story_title fs120 text-white mb-lg-0">{{ article.title }}</p>
          {% if template != 'article' and  template != 'article.dynamic' %}
            <p class="slide_description_bottom_right text-white mb-0"><u>EXPLORE</u></p>
          {% endif %}
        </a>
      </div>
    </div>
  </div>
</section>