{% if request.host != "jamesay.myshopify.com" and request.host != "jamesay.com" %}
  {% assign frame_sizing_txt = "Find forhandler" %}
  {% assign go_to_storelocator_txt = "GÅ TIL FORHANDLERKORT" %}
  {% assign desktop_img = "https://cdn.shopify.com/s/files/1/0224/6066/1824/files/find_store-james-ay.jpg" %}
{% else %}
  {% assign frame_sizing_txt = "Find stores" %}
  {% assign go_to_storelocator_txt = "GO TO STORE LOCATOR" %}
  {% assign desktop_img = "find_store-james-ay.jpg" | file_url %}
{% endif %}
{% assign mobile_img = desktop_img %}
<section class="vertical-scrolling {{section_number}}" style="background-image: url('{{desktop_img}}'); background-size: cover; background-repeat: no-repeat; background-position: center center;" data-desktop-url="{{desktop_img}}" data-mobile-url="{{mobile_img}}">
  <div class="container-fluid h-100">
    <div class="row min-vh-100">
      <div class="col-lg-12 pl-50" style="z-index: 1000;">
        <a href="/pages/store-locator" class="testbg">
          <table class="find_store_info text-white mt-8 d-none d-lg-block1">
            <tr>
              <td>Father Rabbit Limited<br>Orakei Bay, Auckland</td>
              <td>Orakei Bay Village<br>
                228 Orakei Rd<br>
                +64 9-283 0158</td>
            </tr>
          </table>
          <p class="slide_title_bottom story_title fs120 text-white mb-lg-0">{{frame_sizing_txt}}</p>
          <p class="slide_description_bottom_right text-white mb-0"><u>{{go_to_storelocator_txt}}</u></p>
        </a>
      </div>
    </div>
  </div>
</section>