<section class="sec_partner_logo">
    <div class="partner_logo_slider">
        {% for value in shop.metafields.partner_logo.logo_url %}
            <div class="slide"><img src="{{value}}"></div>
        {% endfor %}

        <div class="slide"><img src="https://cdn.shopify.com/s/files/1/0224/6066/1824/files/mrporter.com.svg"></div>
        <div class="slide"><img src="{{value}}"></div>
        <div class="slide"><img src="{{value}}"></div>
        <div class="slide"><img src="{{value}}"></div>
        <div class="slide"><img src="{{value}}"></div>
        <div class="slide"><img src="{{value}}"></div>
        <div class="slide"><img src="{{value}}"></div>  
    </div>
</section>