{% if template != 'cart' %}
  <div class="footer_lifetime">
    <div class="js-conveyor-example">
      <ul>
        <li>{{shop.metafields.string_translation.free_shipping_worldwide}}</li>
        <li class="d-none d-lg-inline-block"><span class="hide">{{shop.metafields.string_translation.one_order_one_kg_plastic}}</span></li>
        <li>{{shop.metafields.string_translation.one_order_one_kg_planted_tree}}</li>
      </ul>
    </div>
  </div>
  <div id="signUpModal" class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <h5 class="modal-title mb-4 pb-0">{{ 'general.newsletter_form.join_our_newsletter_txt' | t }}</h5>
        <p class="my-4 newsletter_text">{{ 'general.newsletter_form.join_our_newsletter_desc' | t }}</p>
      </div>
      <div class="col-lg-4 offset-lg-1">
        <form class="omnisend-subscribe-form myclass" name="omnisend-subscribe-form">
        <!-- {% form 'customer' %} -->
            {{ form.errors | default_errors }}
            {% if form.posted_successfully? %}
              <p class="form--success">{{ 'general.newsletter_form.confirmation' | t }}</p>
            {% else %}
              <div class="row form-row input-group1 password__input-group no-gutters">
                <div class="col-12 mb-4">
                  <input type="hidden" name="contact[tags]" value="newsletter">
                  <input type="text"
                  name="contact[name]"
                  id="Name"
                  class="input-group__field newsletter__input omnisend-subscribe-input-first-name form-control"
                  value="{% if customer %}{{ customer.name }}{% endif %}"
                  placeholder="{{ 'general.newsletter_form.your_name_txt' | t }}" required>
                  <div class="invalid-feedback"></div> 
                </div>
                <div class="col-12 mb-4">
                  <input type="email"
                  name="contact[email]"
                  id="Email"
                  class="input-group__field newsletter__input omnisend-subscribe-input-email form-control"
                  value="{% if customer %}{{ customer.email }}{% endif %}"
                  placeholder="{{ 'general.newsletter_form.your_email_txt' | t }}"
                  autocorrect="off"
                  autocapitalize="off" required>
                  <div class="invalid-feedback"></div>
                </div>
                <div class="col-12 mb-4 mt-4 newslater_privacy_text">{{ 'general.newsletter_form.accept_txt' | t }} <a href="/pages/cookies-privacy-policy" style="text-decoration: underline !important;">{{ 'general.newsletter_form.privacy_policy_txt' | t }}</a></div>
              </div>
              <div class="row">
                <span class="col-12 input-group__btn">
                  <button type="submit" class="btn-signup newsletter__submit" name="commit" id="Subscribe">
                    <span class="newsletter__submit-text--large">{{ 'general.newsletter_form.sign_up_txt' | t }}</span>
                  </button>
                </span>
              </div>
            {% endif %}
          <!-- {% endform %} -->
        </form>
      </div>
    </div>
  </div>  
  <div class="container-fluid footer mt-5">
    <div class="row">
      <div class="col-lg-6">
        <div class="row no-gutters">
        <div class="col-6  col-lg-5 links">
          <p class="footer_title">{{ 'general.footer.about_us_txt' | t }}</p>
          <ul class="mb-0">
            <li><a href="/pages/about">{{ 'general.footer.about_txt' | t }}</a></li>
            <li><a href="/blogs/stories">{{ 'general.footer.stories_txt' | t }}</a></li>
            <li><a href="/pages/contact">{{ 'general.footer.contact_us_txt' | t }}</a></li>
            <li><a href="/pages/shipping-return">{{ 'general.footer.shipping_returns_txt' | t }}</a></li>
          </ul>
        </div>

        <div class="col-6  col-lg-7  social-media">
          <p class="footer_title">{{ 'general.footer.connect_txt' | t }}</p>
          <ul class="mb-0">
            <li><a href="https://www.instagram.com/jamesay_com" target="_blank">Instagram</a></li>
            <li><a href="https://www.facebook.com/jamesayofficial/" target="_blank">Facebook</a></li>
            <li><a href="https://www.youtube.com/channel/UCGzO6K0bWZlRD1trP3N64Tg" target="_blank">Youtube</a></li>
          </ul>
        </div>
        </div>
      </div>
      <div class="col-lg-5 offset-lg-1 trustpilot_area pt-4 pt-lg-0 mt-5 mt-lg-0">
        <p class="footer_title">{{ 'general.footer.reviews_txt' | t }}</p>
        <div class="trustpilot-widget" data-locale="da-DK" data-template-id="5613c9cde69ddc09340c6beb" data-businessunit-id="5e20c5bba5ef500001737b06" data-style-height="100%" data-style-width="150px" data-theme="light">
          <a href="https://dk.trustpilot.com/review/jamesay.com" target="_blank" rel="noopener">Trustpilot</a>
        </div>
      </div>      
    </div>
    <div class="row terms-privacy pt-4 mb-5 mt-5">
      <div class="col-lg-6">
        <div class="row no-gutters">
          <div class="col-5">
            <p class="mb-0"><a href="/pages/terms-conditions">{{ 'general.footer.terms_conditions_txt' | t }}</a></p>
          </div>
          <div class="col-7 text-right text-sm-left">
            <p class="mb-0"><a href="/pages/cookies-privacy-policy">{{ 'general.footer.cookies_txt' | t }}</a></p>
          </div>
        </div>
      </div>
      <div class="col-lg-5 offset-lg-1 d-none d-lg-block">
        <p class="mb-0"><a href="https://dk.trustpilot.com/review/jamesay.com">{{ 'general.footer.see_all_review_txt' | t }}</a></p>
      </div>      
    </div>
  </div>
	<a id="return-to-top">
    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="337.085px" height="337.086px" viewbox="0 0 337.085 337.086" style="enable-background: new 0 0 337.085 337.086;" xml:space="preserve">
      <g>
        <path d="M168.54,0C75.619,0,0.012,75.609,0.012,168.543c0,92.93,75.606,168.543,168.528,168.543
      c92.933,0,168.534-75.613,168.534-168.543C337.074,75.609,261.473,0,168.54,0z M271.405,224.327
      c-2.407,2.402-5.561,3.615-8.713,3.615c-3.158,0-6.311-1.213-8.719-3.615L168.54,138.9l-85.424,85.427
      c-4.816,4.815-12.631,4.815-17.447,0c-4.819-4.815-4.819-12.622,0-17.438l94.152-94.141c4.822-4.815,12.613-4.815,17.426,0
      l94.152,94.141C276.221,211.705,276.221,219.512,271.405,224.327z"></path>
      </g>
    </svg>
  </a>  
{% endif %}