{% if template != 'index' and template != 'blog' and template != 'article' and  template != 'article.dynamic' %} 
  {% if template contains 'page' and page.url == '/pages/store-locator' %}
    {% assign color_code = "#FFFFFF" %}
    {% assign color_class = "white" %}
  {% else %} 
    {% assign color_code = "#000000" %}
    {% assign color_class = "blk" %}
  {% endif %} 
{% else %} 
  {% assign color_code = "#FFFFFF" %}
  {% assign color_class = "white" %}
{% endif %}
<header>
  <div class="header-top clearfix">
    <a class="toggle-menu nav-hmenu menu_middle {{color_class}} fadein href="javaScript:void(0);">
      <i></i>
      <i></i>
      <i></i>
    </a>
    {% if request.host == "jamesay-dk.myshopify.com" or request.host == "jamesay.dk" %}
      {% assign all_collection_link = "/collections/alle" %}
      {% assign lang_code = "EN" %}
      {% assign site_link = "https://jamesay.com" %}
    {% else %}
      {% assign all_collection_link = "/collections/all" %}
      {% assign lang_code = "DE" %}
      {% assign site_link = "https://jamesay.dk" %}
    {% endif %}
    <span class="shop_link" style="color : {{color_code}}"><a href="{{all_collection_link}}">SHOP</a></span>
    <span class="l-left">
      <a href="/">{% include 'logo-svg1' %}</a>
    </span>
    {% if cart.total_price > 0 %}
    <!-- <div class="total_price_wrapper sticky_btn"> -->
    <a href="/cart" class="total_price_wrapper sticky_btn" style="display: none;">
      <div class="vcenter">    
        <div id="cart-price" class="site-header__cart-count">
          <span>{{ cart.total_price | money }}</span>
        </div> | {{ 'cart.general.buy_now' | t }}
      </div>
    </a>
    <!-- </div> -->
    {% endif %}     
    <span class="l-right count{{ cart.item_count }} fadein">
      <ul>
        {% if request.host == "wholesale-jamesay.myshopify.com" or request.host == "wholesale.jamesay.com" %}
          <li class="d-none d-md-inline-block">
            <span class="span_myaccount">
              <span class="myaccount_style" style="color : {{color_code}}">
                <a href="/account">MY ACCOUNT</a>
              </span>
            </span>
          </li>
        {% endif %}
        <li class="d-none d-md-inline-block">
          <span class="currency_switcher" style="color : {{color_code}}"><a href="{{site_link}}" class="site_link">{{lang_code}}</a></span>
        </li>
        <li class="d-none d-md-inline-block hide">
          <span class="search" OnClick="document.searchform.q.focus();"><span id="search_icon" style="color : {{color_code}}">{{ 'general.header.search_txt' | t }}</span></span>
        </li>
        {% comment %} {% include 'currency_switcher' %} {% endcomment %}
        <li>
          {% if cart.item_count > -1 %}
            <span class="show_open">
              <span id="CartCount" class="site-header__cart-count" style="color : {{color_code}}">
                {{ 'general.header.bag_txt' | t }} (<span>{{ cart.item_count }}</span>)
              </span>
            </span>
          {% endif %}
        </li>
      </ul>
    </span>
    <div class="progress-container" style="display: none;">
      <div class="progress-bar" id="myBar"></div>
    </div>
  </div>

  <nav class="main_menu">
    <div class="row h-100 align-items-stretch no-gutters">

      <div class="col-lg-6 d-lg-flex flex-column justify-content-between">
        <div class="row no-gutters">
          <div class="col content-vcenter1">
            <ul id="menu">
              {% for link in linklists.main-menu.links %}
                {% assign child_list_handle = link.title | handleize %}
                {% if linklists[child_list_handle].links != blank %}
                  <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                  <ul id="sub_menu">
                  [{% for childlink in linklists[child_list_handle].links %}
                    <li><a class="fs120" href="{{ childlink.url }}">{{ childlink.title | escape }}</a></li>
                  {% endfor %}]
                  </ul>
                {% else %}
                  <li><a class="fs120 menu_{{link.handle}}" href="{{ link.url }}" rel="p{{ forloop.index }}">{{ link.title }}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="row fix-bottom">
          <div class="col-lg-4 contact-track-ord">
            <ul>
              <li><a href="/blogs/stories/jamesayxnorthside">James Ay x Northside</a></li>
              {% if request.host == "jamesay.myshopify.com" or request.host == "jamesay.com" or 
              request.host == "jamesay-dk.myshopify.com" or request.host == "jamesay.dk" %}
                <li class="hide"><a href="https://wholesale.jamesay.com/account/login">Wholesale login</a></li>
              {% endif %}
              <li><a href="/pages/sustainability">{{ 'general.header.sustainability' | t }}</a></li>
              <li><a href="/pages/follow-the-sun">{{ 'general.header.followthesun' | t }}</a></li>
              {% if request.host != "wholesale.jamesay.com" %}
                <!-- <li><a href="/pages/become-a-retailer">{{ 'general.header.become_a_retailer' | t }}</a></li> -->
                <li><a href="https://www.dropbox.com/sh/my4y9hfkvcmrk86/AACPYfCYsM7W1vpZfkX90jn_a?dl=0" target="_blank">{{ 'general.header.press' | t }}</a></li>
              {% endif %}
              <li><a href="/pages/terms-conditions">{{ 'general.header.terms_and_conditions' | t }}</a></li>
              <li class="d-none"><a href="/pages/contact">{{ 'general.header.customer_service' | t }}</a></li>
              <li class="join_newsletter">{{ 'general.header.join_newsletter' | t }}</li>
              <li><a href="/pages/contact"  class="menu_contact1" >{{ 'general.header.contact' | t }}</a></li>
            </ul>
          </div>
        {% if request.host == "jamesay-au.myshopify.com" or request.host == "jamesay.com.au" %}
          {% assign mailtolink = "mailto:info@jamesay.com.au" %}
          {% assign instagram_link = "https://www.instagram.com/jamesay_aus" %}
        {% else %}
          {% assign mailtolink = "mailto:hi@jamesay.com" %}
          {% assign instagram_link = "https://www.instagram.com/jamesay_com" %}
        {% endif %}
          <div class="col-lg-6">
            <div class="social-media_header contact-track-ord mb-0 pt-5 pt-lg-0">
              <div><a href="{{instagram_link}}" target="_blank">Instagram</a></div>
              <div><a href="https://www.facebook.com/jamesayofficial/" target="_blank">Facebook</a></div>
              <div><a href="{{mailtolink}}" target="_blank">Email</a></div>
              <div class="d-none"><a href="https://www.youtube.com/channel/UCGzO6K0bWZlRD1trP3N64Tg" target="_blank">Youtube</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 d-none d-lg-block justify-content-center align-self-center text-right">
        <div id="pic" class="p1"></div>
      </div>
    </div>
  </nav>
  {% include 'search-bar' %}
  <nav class="shop_menu">
    {% include 'cart-drawer' %}
  </nav>
</header>