<div id="fullpage1" class="content_area cart_page">
  <section class="vertical-scrolling mx-auto contentWidth">
    <div class="container-fluid">
      <div class="row no-gutters">
        <div class="col-12">
        {% if cart.item_count > 0 %}
          <!-- <h1>{{ 'cart.general.title' | t }}</h1> -->

          <form action="/cart" method="post" novalidate>
            <table class="table table-borderless">
              <thead>
                <tr class="d-none d-md-table-row">
                  <th colspan="2" scope="col" class="">{{ 'cart.label.product' | t }}</th>
                  <th scope="col" class="">{{ 'cart.label.price' | t }}</th>
                  <th scope="col" class="">{{ 'cart.label.quantity' | t }}</th>
                  <th scope="col" class="text-right">{{ 'cart.label.total' | t }}</th>
                </tr>
              </thead>
              <tbody>

                {% for item in cart.items %}

                  {% comment %}

                  Cart Item Template
                  =====================
                  The data-label attributes on <td> elements are mobile-friendly
                    helpers used for responsive-table labels
                    {% endcomment %}

                    <tr class="d-table-row flex-column">

                      <td scope="col" class="d-table-cell justify-content-center" data-label="{{ 'customer.order.product' | t }}">

                        {% if item.image != blank %}
                          <a href="{{ item.url | within: collections.all }}">
                            {{ item | img_url: '110x110' | img_tag: item.title }}
                          </a>
                        {% endif %}

                      </td>
                      <td scope="col" class="text-center1 text-md-left">
                        <a href="{{ item.url }}">{{ item.product.title }}</a>

                        {% unless item.product.has_only_default_variant %}
                          <p>{{ item.variant.title }}</p>
                        {% endunless %}

                        <!-- <p class="vendor_detail">{{ item.vendor }}</p> -->

                        {%- assign property_size = item.properties | size -%}

                        {% if property_size > 0 %}
                          {% for p in item.properties %}
                            {% unless p.last == blank %}
                              {{ p.first }}:

                              {% if p.last contains '/uploads/' %}
                                <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                              {% else %}
                                {{ p.last }}
                              {% endif %}

                            {% endunless %}
                          {% endfor %}
                        {% endif %}

                        <a class="product_remove_link" href="/cart/change?line={{ forloop.index }}&amp;quantity=0">
                          {{ 'cart.general.remove' | t }}
                        </a>
                      </td>
                      <td scope="col" class="text-center text-md-left cart-money mobile_only" data-label="{{ 'cart.label.price' | t }}">
                        {% if item.original_line_price != item.line_price %}
                          <span class="visually-hidden">{{ 'cart.label.discounted_price' | t }}</span>
                          {{ item.price | money }}
                          <span class="visually-hidden">{{ 'cart.label.original_price' | t }}</span>
                          <s>{{ item.original_price | money }}</s>
                        {% else %}
                          {{ item.price | money }}
                        {% endif %}
                      </td>
                      <td scope="col" class="text-center text-md-left" data-label="{{ 'cart.label.quantity' | t }}">
                        <input type="number"
                              name="updates[]"
                              id="updates_{{ item.key }}"
                              value="{{ item.quantity }}"
                              min="0"
                              {% unless item.variant.inventory_management == blank or item.variant.inventory_policy == 'continue' %}
                                max="{{ item.variant.inventory_quantity }}"
                              {% endunless %}
                              aria-label="{{ 'cart.general.item_quantity' | t }}">
                      </td>
                      <td scope="col" class="text-right cart-money" data-label="{{ 'cart.label.total' | t }}">
                        {{ item.line_price | money }}
                      </td>
                    </tr>
                  {% endfor %}                   
              </tbody>
            </table>
            <div class="form-row1 row no-gutters">
              {% if settings.cart_notes_enable %}
                <div class="col-md-8 mb-3">
                  <label for="CartSpecialInstructions">{{ 'cart.general.note' | t }}</label>
                  <textarea rows="7" class="form-control" placeholder="Add a note" name="note" id="CartSpecialInstructions">{{ cart.note }}</textarea>
                </div>
              {% endif %}
            </div>           
            <div class="row no-gutters">
              <div class="col-12 d-none d-md-block mb-4 text-right euro no-gutter" style="border-bottom: 1px solid #dee2e6;">
                <p id="subtotal" class="cart-money mb-0">{{ 'cart.general.total' | t }} {{ cart.total_price | money }}</p>
                <p class="usp_text d-none">{{ 'cart.general.purchase_plants_tree_remove_waste' | t }}</p>
                {% if cart.total_discounts > 0 %}
                  <p>{{ 'cart.general.savings' | t }} {{ cart.total_discounts | money }}</p>
                <div class="viabill-pricetag"
    data-view="basket"
    data-price="{{ cart.total_price | money }}"
    data-language="da"
    data-currency="dkk">
</div>
                {% endif %}
              </div>             
              <div class="col-12 d-block d-md-none mb-4 no-gutter" style="border-bottom: 1px solid #dee2e6;">
                <div class="row">
                  <div class="col-6">
                    <p class="mt-3">{{ 'cart.general.total' | t }}</p>
                  </div>                 
                  <div class="col-6 text-right euro">
                    <p id="subtotal" class="cart-money">{{ cart.total_price | money }}</p>
                    {% if cart.total_discounts > 0 %}
                      <p>{{ 'cart.general.savings' | t }} {{ cart.total_discounts | money }}</p>
                    {% endif %}
 
                  </div>                  
                  <div class="col d-none"><p style="font-size: 1rem;">{{ 'cart.general.purchase_plants_tree_remove_waste' | t }}</p></div>                   
                </div>                  
              </div>              
            </div>            
            <div class="row pt-2 no-gutters">
              <div class="col-md-6 text-center text-md-left invisible">
                <p>{{ 'cart.general.shipping_at_checkout' | t }} ({{ 'cart.general.free_shipping_worldwide' | t }})</p>
              </div>              
              <div class="col-md-6 text-center text-md-right">
                <p>
                  <label class="agree-check">
                      <input type="checkbox" class="option-input" id="agree">{{ 'cart.general.I_agree_with_the' | t }} <a href="/pages/terms-conditions" target="_blank">{{ 'cart.general.terms_and_conditions' | t }}</a>.
                  </label>
                </p>
              </div>              
            </div>            
            <div class="row pt-2 no-gutters">
              <div class="col-md-6 mt-5 mt-md-2 text-center text-md-left swaporder1">
                <ul class="payment-icons list-inline">
                  {% for type in shop.enabled_payment_types %}
                  <li class="list-inline-item mr-1 pb-1">
                    {{ type | payment_type_svg_tag: class: 'payment-cc-icon' }}
                  </li>
                  {% endfor %}
                  <li class="list-inline-item mr-1 pb-1">
                    <svg class="payment-cc-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 60"><g fill="none" fill-rule="evenodd"><path fill="#FFF" d="M0 0h100v60H0z"/><path fill="#000" d="M33.886 27.958c.037 3.825 3.5 5.097 3.538 5.113-.03.09-.553 1.814-1.824 3.595-1.099 1.54-2.24 3.073-4.035 3.105-1.765.032-2.332-1.003-4.35-1.003s-2.648.971-4.319 1.035c-1.733.063-3.054-1.666-4.161-3.2-2.264-3.137-3.994-8.866-1.67-12.732 1.153-1.92 3.215-3.137 5.453-3.168 1.702-.031 3.31 1.098 4.35 1.098 1.04 0 2.994-1.358 5.047-1.158.859.034 3.271.332 4.82 2.506-.125.075-2.88 1.612-2.849 4.81m-3.317-9.392c.92-1.069 1.54-2.556 1.371-4.035-1.327.05-2.931.847-3.882 1.915-.854.945-1.6 2.458-1.399 3.91 1.48.109 2.99-.721 3.91-1.79m13.323-1.83a41.71 41.71 0 012.257-.306 24.794 24.794 0 012.716-.136c1.411 0 2.628.164 3.65.494 1.023.33 1.863.801 2.521 1.415a5.812 5.812 0 011.323 1.943c.317.75.475 1.615.475 2.592 0 1.182-.217 2.217-.652 3.104a6.463 6.463 0 01-1.78 2.233c-.753.602-1.646 1.05-2.68 1.347-1.036.295-2.164.443-3.387.443-1.105 0-2.033-.08-2.785-.239v9.822h-1.658V16.738zm1.658 11.46c.4.112.846.192 1.34.237.494.045 1.022.068 1.586.068 2.116 0 3.756-.478 4.92-1.432 1.164-.955 1.746-2.353 1.746-4.194 0-.887-.153-1.66-.458-2.32a4.168 4.168 0 00-1.305-1.62c-.564-.42-1.234-.738-2.01-.955-.777-.216-1.635-.324-2.576-.324-.752 0-1.399.029-1.94.086-.54.057-.975.12-1.304.187v10.266zm24.47 7.365c0 .659.011 1.319.034 1.978.024.659.094 1.295.212 1.909h-1.552l-.246-2.319h-.072a5.809 5.809 0 01-.81.955 6.168 6.168 0 01-2.627 1.5 6.573 6.573 0 01-1.817.239c-.822 0-1.546-.132-2.17-.392-.623-.262-1.134-.603-1.534-1.023a4.14 4.14 0 01-.898-1.45 4.72 4.72 0 01-.3-1.636c0-1.933.84-3.421 2.521-4.468 1.682-1.046 4.215-1.545 7.602-1.5v-.444c0-.432-.042-.927-.124-1.484a4.553 4.553 0 00-.547-1.585c-.282-.5-.705-.92-1.27-1.26-.563-.342-1.328-.513-2.292-.513-.729 0-1.451.108-2.169.324a7.438 7.438 0 00-1.956.904l-.53-1.194a7.946 7.946 0 012.327-1.073 9.569 9.569 0 012.505-.324c1.175 0 2.134.193 2.874.58.74.386 1.323.886 1.746 1.5.423.613.712 1.3.864 2.063.152.762.23 1.518.23 2.267v6.446h-.001zm-1.658-4.877c-.894-.023-1.83.011-2.805.102-.975.09-1.875.29-2.697.597-.824.307-1.505.756-2.045 1.347-.541.592-.812 1.375-.812 2.353 0 1.159.341 2.012 1.023 2.557.682.546 1.445.82 2.292.82.682 0 1.293-.091 1.834-.274a4.708 4.708 0 002.415-1.773c.272-.387.477-.784.619-1.194.117-.455.177-.785.177-.99v-3.545zm4.9-7.605l4.301 10.64c.236.59.46 1.199.671 1.824.212.625.4 1.2.564 1.722h.071c.165-.5.352-1.063.564-1.688.212-.625.447-1.267.705-1.928l4.022-10.57h1.762l-4.9 12.004a136.65 136.65 0 01-1.394 3.46 32.347 32.347 0 01-1.323 2.797c-.447.83-.899 1.562-1.359 2.2a9.285 9.285 0 01-1.533 1.67c-.658.568-1.264.984-1.817 1.245a15.75 15.75 0 01-1.11.495l-.566-1.33c.424-.182.894-.42 1.411-.716a7.665 7.665 0 001.517-1.16c.424-.409.888-.948 1.393-1.62.506-.67.958-1.483 1.358-2.438.141-.364.212-.603.212-.716 0-.159-.07-.398-.212-.716l-6.102-15.176h1.765v.001z"/></g></svg>
                  </li>
                </ul>
              </div>              
              <div class="col-md-6 text-center text-md-right swaporder2">
                <button class="continue-shopping mb-3" type="submit" name="update" value="">{{ 'cart.general.update' | t }}</button>
                <button class="continue-shopping black_btn" type="submit" name="checkout" class="button" value="">{{ 'cart.general.checkout' | t }}</button>
              </div>
            </div>
          </form>
        {% else %}
          <div class="supports-cookies text-center m-5">
              <h4 class="mb-5">{{ 'cart.general.empty' | t }}</h4>
              <a href="/collections/all" class="continue-shopping" title="{{ 'cart.general.continue_shopping' | t }}">{{ 'cart.general.continue_shopping' | t }}</a>
          </div>
      
          {% comment %}
          Cart no cookies state
          ---------------------
          Browser cookies are required to use the cart. If cookies aren't enabled in the
          browser a message is displayed prompting the user to enable them.
          {% endcomment %}
          <div class="supports-no-cookies text-center m-5">
              <h4>{{ 'cart.general.cookies_required' | t }}</h4>
          </div>
        {% endif %}
        </div>
      </div>
    </div>
  </section>
</div>
<script>
  $('body').on('click', '[name="checkout"], [name="goto_pp"], [name="goto_gc"]', function() {

    if ($('#agree').is(':checked')) {
      $(this).submit();
    }
    else {
      alert("{{ 'general.label.accept_term_and_condition_alert' | t }}");
      return false;
    }
  });
</script>
<script>(function(){var o=document.createElement('script');o.type='text/javascript';o.async=true;o.src='https://pricetag.viabill.com/script/hTezXmY_GJE%3D';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(o,s);})();</script>